name: Resources For Researchers CI workflow

on:
  push:
    branches:
      - master
      - develop
      - 'hotfix/**'
      - 'release/**'
      - 'feature/**'
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

permissions:
  contents: read
  packages: read

jobs:
  ci_remote:
    uses: nciocpl/nci.ocpl.api.shared/.github/workflows/common-api-ci.yml@workflow/v1
    with:
      api-project: src/NCI.OCPL.Api.ResourcesForResearchers/NCI.OCPL.Api.ResourcesForResearchers.csproj
      artifact-name: r4r
